.app{
    .containerApp{
        width: 100%;
        height: 650px;
        position: relative;
        .controlsPanel{
            width: 250px;
            height: 100%;
            background-color: #11BFAE;
            position: absolute;
            left: 0;
            padding: 10px;
            box-sizing: border-box;
            .colorSelector{
                width: 100%;
                height: 40px;
                border-radius: 6px;
                background: #0fa092;
                padding: 5px 10px;
                box-sizing: border-box;
                position: relative;
                &:hover{
                    .colorBar{
                        background-color: rgba(255,255,255,1);
                        .containerCorlor{
                            height: 29px;
                            border-radius: 3px;
                        }
                    }
                }
                .label{
                    font: 400 16px/30px Helvetica, 'OpenSans';
                    color: white;
                }
                .selector{
                    width: 29px;
                    height: 29px;
                    border-radius: 3px;
                    background-color: white;
                    position: absolute;
                    right: 5px;
                    top: 5px;
                    padding: 2px;
                    box-sizing: border-box;
                    cursor: pointer;
                    .color{
                        width: 100%;
                        height: 100%;
                        background-color: red;
                        border-radius: 2px;
                        position: relative;
                    }
                }
                .colorBar{
                    width: 40px;
                    position: absolute;
                    right: 0;
                    padding: 5px;
                    box-sizing: border-box;
                    background-color: rgba(255,255,255,0);
                    border-radius: 3px;
                    top: 32px;
                    .containerCorlor{
                        transition: 0.3s;
                        width: 29px;
                        height: 0px;
                        position: relative;
                        cursor: pointer;
                        &:hover{
                            transform: scale(1.5);
                            z-index: 2;
                        }
                        .colorOption{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .handsPanel{
            width: 100%;
            background-color: #f1f1f1;
            padding-left: 250px;
            height: 100%;
            .statusBar{
                width: 100%;
                height: 50px;
                text-align: center;
                .colorBarSecond{
                    width: auto;
                    height: 40px;
                    position: relative;
                    margin: 0 auto;
                    display: inline-flex;
                    padding: 5px;
                    box-sizing: border-box;
                    .optionColor{
                        width: 55px;
                        height: 36px;
                        float: left;
                        cursor: pointer;
                        transition: 0.3s;
                        &:hover{
                            transform: scale(1.3);
                        }
                    }
                }
            }
            .hands{
                width: 100%;
                height: 100%;
                .leftHand{
                    width: 50%;
                    height: 100%;
                    float: left;
                    position: relative;
                    .imgHand{
                        width: 100%;
                        position: relative;
                        padding-left: 20px;
                        text-align: left;
                        img{
                            width: 600px;
                        }
                        .nails{
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            canvas{
                                #lAnular{
                                    position: absolute;
                                    z-index: 9;
                                    top: 10px;
                                }
                            }
                        }
                    }
                }
                .rightHand{
                    width: 50%;
                    height: 100%;
                    float: right;
                    .imgHand{
                        width: 100%;
                        position: relative;
                        padding-right: 20px;
                        text-align: right;
                        img{
                            width: 600px;
                        }
                    }
                }

            }
        }
    }

}
