.header{
  width: 100%;
  height: 60px;
  padding: 8px 15px;
  box-sizing: border-box;
  background: #fff;
  .logo{
    width: 180px;
    float: left;
    cursor: pointer;
    .nail{
      width: 35%;
    }
    .tipo{
      width: 50%;
    }
  }
  .searchBox{
    width: 30%;
    margin: 0 auto;
    height: 100%;
    float: left;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #f0f1f0;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.3s;
    position: relative;
    input{
      width: 80%;
      height: 60%;
      position: absolute;
      outline-style: none;
      background-color: transparent;
      font-size: 16px;
      font-weight: bolder;
      color: gray;
      margin-top: -2px;
      padding: 0 34px;
    }
    .icon.icon-microphone{
      position: absolute;
      left: 16px;
      top: 15px;
      font-size: 12px;
      color: white;
      cursor: pointer;
      transition: 0.3s;
      z-index: 99;
      &:hover{
        color: #f478b8;
      }
    }
    .icon.icon-search4{
      position: absolute;
      right: 10px;
      top: 7px;
      font-size: 28px;
      color: gray;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        color: #59d9a4;
      }
    }
  }
  .searchBox.active{
    width: 60%;
  }
  .login{
    float: right;
    position: relative;
    top: 3px;
    width: 150px;
    border: 0px solid red;
    padding: 10px 20px;
    text-align: right;
    font-size: 14px;
    .icon.icon-ellipsis{
      background: #f0f1f0;
      border-radius: 50%;
      color: gray;
      padding: 5px;
      margin-left: 10px;
      margin-top: 4px;
      cursor: pointer;
      transition: 0.3s;
      &:hover{
        background-color: #e2e2e2;
      }
    }
  }
  .cart{
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #11BFAE;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      background-color: #16decb;
    }
    .icon.icon-cart{
        color: white;
        position: absolute;
        font-size: 22px;
        left: 8px;
        top: 12px;
    }
    .num{
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #8378f4;
      color: white;
      text-align: center;
      top: -5px;
      right: -5px;
      .number{
        font-size: 12px;
        top: -2px;
        position: relative;
      }
    }
  }
}

.header.phone{
  .logo{
      width: 70px;
      margin-right: 15px;
    .nail{
        width: 100%;
    }
    .tipo{
      display: none;
    }
  }
  .searchBox{
    width: 45%;
  }
  .login{
    width: 55px;
  }
}

.header.tablet{
  .logo{
      width: 70px;
      margin-right: 15px;
    .nail{
        width: 100%;
    }
    .tipo{
      display: none;
    }
  }
  .searchBox{
    width: 60%;
  }
  .login{
    width: 120px;
  }
}
